body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    color: #333; 
}

/* Header */
header {
    background-color: #4CAF50; 
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Navigation Bar */
nav {
    background-color: #333;
}

nav ul {
    display: flex;
    justify-content: flex-start;  
    list-style-type: none;
    padding: 10px 0;
    margin-left: 20px; 
}

nav ul li {
    margin-right: 20px; 
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

nav ul li a:hover {
    color: #4CAF50;
}


/* Main Content Section */
main {
    padding: 20px;
}

.content h2 {
    color: #4CAF50;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
}

/* Footer Section */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 0;
}

/* Responsive */
@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .content p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    nav ul li a {
        font-size: 16px;
    }

    .content h2 {
        font-size: 24px;
    }
}
